<!DOCTYPE html>
<html ng-app="Flickr">
<head>
	<title>Flickr Photos</title>
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<script src="static/angular.min.js"></script>
	<script src="static/angular-module.js"></script>
	<script src="static/jquery.min.js"></script>
</head>
<body ng-controller="FlickrController">
	<div class="container-fluid">
		<h1>Flickr Photos</h1>
		<div class="row">
			<div class="col-lg-12 tag-container">
				<div ng-repeat="n in finaltags">
					<span class="tags_name" ng-click="filterImages(n)"> {{n}} &nbsp;</span>
				</div>
			</div>
			<div class="col-lg-12 photo-container">
				<div class="img-container photo col-lg-3" ng-repeat="n in photodata"  data-tags="{{n.tags}}">
					<div class="">
						<img src="{{n.url_sq}}" class="responsive-img">
						<p>User: {{n.ownername}}</p>
						<p>Upload Date : {{n.datetaken}}</p>
						<p>Tags : {{n.tags}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>\
</body>
</html>