<!DOCTYPE html>
<html ng-app="Flickr">
<head>
	
	<title>Flickr Photos</title>
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script>

	<script src="app.js"></script>
	<script src="controllers/main-ctrl.js"></script>
	<script src="services/flickr-recent.js"></script>
	<script src="directives/images.js"></script>
	<script src="directives/infinite-scroll.js"></script>

</head>

<body ng-controller="FlickrController">
	
	<nav class="navbar navbar-default navbar-fixed-top">
		<ul class="nav">
			<li ng-class="{active:queryType == 'recent'}">
				<a href="" ng-click="updatePath('/recent')">Recent Photos</a>
			</li>
		</ul>
	</nav>

	<div class="container-fluid">
		<h1>Flickr Photos</h1>
		<div class="row">
			<div class="col-lg-12 photo-container" infinite-scroll="getMore()" infinite-scroll-threshold=100>
				<images class="col-lg-3" ng-repeat="photo in photos"  data-tags="{{photo.tags}}"></images>
			</div>
		</div>
	</div>
	
</body>
</html>