body {
	background-color: #eee;
}

.container-fluid h1 {
	text-align: center;
	width: 100%;
}

.tags_name {
	cursor: pointer;
	float: left;
}

.photo {
	padding:5px;
	min-height: 200px;
}

.photo img {
	width: 100%;
}

.tag-container {
	background-color: #f0f0f0;
}